/* Css Header styles */
body {
    font-family: "Ubuntu", sans-serif;
}

.nav-selector {
    padding:.4rem 0 .4rem 1rem;
    user-select:none;
    background-color: rgb(255, 255, 255);
}

.titleName {
    letter-spacing: .5px;
    font-size: 1.6rem;
    transition: .3s ease;
}

.navHeading a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navHeading a:hover {
    background-color: rgb(47, 50, 55);
}

.navbar-right {
    position: relative;
    right: -70px;
}

.dropdown-menu-items a {
    padding: .6rem 1.15rem;
    display: flex;
    align-items: center;
}

.dropdown-menu-items svg {
    margin-right: .8rem;
}

.content {
    height: 90vh;
    margin-top: 3.8rem;
}

/* End of header */

.dashboard {
    display: flex;
}

#right {
    width: 15%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: .6rem 0;
}

#left {
    width: 85%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: .8rem 0;
}

.dashboard .container a {
    padding: .8rem .7rem;
    margin: .5rem 0 .5rem .4rem;
}

.developer ul li {
    letter-spacing: 1px;
    padding:0 .6rem;
}
















































@media screen and (max-width: 900px) {
    .nav-selector {
        padding: .6rem .3rem .6rem .1rem;
    }

    .titleName {
        font-size: 1.3rem;
        margin-left: .2rem;
        padding: .3rem 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d0d0d0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353a40;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }